@import url(https://fonts.googleapis.com/css?family=Nunito);

.row {
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px !important;
}

.navbar-brand {
    margin-left: 3%;
}

.user {
    display: flex;
    flex-direction: row;
}

.users {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 30px;
    font-size: 3rem !important;
    color: gray;
}

body{
    font-family: "Nunito", sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url("/statics/molveno01_blue.jpg") !important;
    background-size: cover  !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    

} 


.row {
    margin: 0;
}
.fa-chevron-circle-down:before {
    content: "\f13a";
    color: #fff;
    visibility: hidden;
}
.lead{
    color: #fff;
    font-size: 1.5rem !important;
    text-shadow: 4px 4px 9px rgba(17, 17, 17, 1);
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    h1 {
        color: white;
        margin-top: 50px;
        font-size: 40px;
        text-shadow: 4px 4px 9px rgba(17, 17, 17, 1);
    }

    
}

@media only screen and (min-width: 801px) {
    h1 {
        color: white;
        margin-top: 100px !important;
        font-size: 6pc !important;
        text-shadow: 4px 4px 9px rgba(17, 17, 17, 1);
    }


}
input[type=text] {
    width: 50%;
    border-radius: 25px;
    border: none;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
}

.hero-text {
    /* position: absolute; */
    /* left: 0;
    top: 45%; */
    width: 100%;
    text-align: center;
    color: #000;
}

